# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [91]:
# your code here
import pandas as pd

In [92]:
df=pd.read_csv('tic-tac-toe.csv')
df

    TL TM TR ML MM MR BL BM BR  class
0    x  x  x  x  o  o  x  o  o   True
1    x  x  x  x  o  o  o  x  o   True
2    x  x  x  x  o  o  o  o  x   True
3    x  x  x  x  o  o  o  b  b   True
4    x  x  x  x  o  o  b  o  b   True
..  .. .. .. .. .. .. .. .. ..    ...
953  o  x  x  x  o  o  o  x  x  False
954  o  x  o  x  x  o  x  o  x  False
955  o  x  o  x  o  x  x  o  x  False
956  o  x  o  o  x  x  x  o  x  False
957  o  o  x  x  x  o  o  x  x  False

[958 rows x 10 columns]

In [93]:
df.replace('x', 1, inplace=True)
df.replace('o', -1, inplace=True)
df.replace('b', 0, inplace=True)
df

     TL  TM  TR  ML  MM  MR  BL  BM  BR  class
0     1   1   1   1  -1  -1   1  -1  -1   True
1     1   1   1   1  -1  -1  -1   1  -1   True
2     1   1   1   1  -1  -1  -1  -1   1   True
3     1   1   1   1  -1  -1  -1   0   0   True
4     1   1   1   1  -1  -1   0  -1   0   True
..   ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
953  -1   1   1   1  -1  -1  -1   1   1  False
954  -1   1  -1   1   1  -1   1  -1   1  False
955  -1   1  -1   1  -1   1   1  -1   1  False
956  -1   1  -1  -1   1   1   1  -1   1  False
957  -1  -1   1   1   1  -1  -1   1   1  False

[958 rows x 10 columns]

In [94]:
import numpy as np
outputs= np.array(df['class'])
inputs= np.array(df.drop(labels='class', axis=1))

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [95]:
# your code here
import keras
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split

In [96]:
X_train, X_test, y_train, y_test = train_test_split(inputs, outputs, test_size = 0.2, random_state=0)
to_categorical(y_train)

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]], dtype=float32)

In [97]:

model = Sequential([
  Dense(15, activation='relu',name="layer1"),
  Dense(15, activation='relu',name="layer2"),
  Dense(2, activation='softmax'),   
])

In [98]:
model.compile(
  optimizer='adam',
  loss='sparse_categorical_crossentropy',
  metrics=['accuracy'])

In [99]:
history = model.fit(
  X_train,
  y_train, 
  epochs=40,        
  batch_size=50,
)

Epoch 1/40
16/16 [==============================] - 0s 2ms/step - loss: 0.6904 - accuracy: 0.5862
Epoch 2/40
16/16 [==============================] - 0s 3ms/step - loss: 0.6449 - accuracy: 0.6279
Epoch 3/40
16/16 [==============================] - 0s 2ms/step - loss: 0.6158 - accuracy: 0.6632
Epoch 4/40
16/16 [==============================] - 0s 2ms/step - loss: 0.5909 - accuracy: 0.6997
Epoch 5/40
16/16 [==============================] - 0s 2ms/step - loss: 0.5681 - accuracy: 0.7206
Epoch 6/40
16/16 [==============================] - 0s 3ms/step - loss: 0.5467 - accuracy: 0.7467
Epoch 7/40
16/16 [==============================] - 0s 2ms/step - loss: 0.5247 - accuracy: 0.7637
Epoch 8/40
16/16 [==============================] - 0s 3ms/step - loss: 0.5038 - accuracy: 0.7794
Epoch 9/40
16/16 [==============================] - 0s 3ms/step - loss: 0.4855 - accuracy: 0.7872
Epoch 10/40
16/16 [==============================] - 0s 2ms/step - loss: 0.4694 - accuracy: 0.7924
Epoch 11/40
16/16 [==============================] - 0s 2ms/step - loss: 0.4557 - accuracy: 0.8016
Epoch 12/40
16/16 [==============================] - 0s 3ms/step - loss: 0.4425 - accuracy: 0.8068
Epoch 13/40
16/16 [==============================] - 0s 2ms/step - loss: 0.4315 - accuracy: 0.8159
Epoch 14/40
16/16 [==============================] - 0s 2ms/step - loss: 0.4182 - accuracy: 0.8251
Epoch 15/40
16/16 [==============================] - 0s 3ms/step - loss: 0.4064 - accuracy: 0.8277
Epoch 16/40
16/16 [==============================] - 0s 2ms/step - loss: 0.3938 - accuracy: 0.8329
Epoch 17/40
16/16 [==============================] - 0s 2ms/step - loss: 0.3814 - accuracy: 0.8407
Epoch 18/40
16/16 [==============================] - 0s 3ms/step - loss: 0.3678 - accuracy: 0.8499
Epoch 19/40
16/16 [==============================] - 0s 2ms/step - loss: 0.3535 - accuracy: 0.8590
Epoch 20/40
16/16 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8708
Epoch 21/40
16/16 [==============================] - 0s 3ms/step - loss: 0.3247 - accuracy: 0.8812
Epoch 22/40
16/16 [==============================] - 0s 2ms/step - loss: 0.3099 - accuracy: 0.8890
Epoch 23/40
16/16 [==============================] - 0s 2ms/step - loss: 0.2949 - accuracy: 0.9060
Epoch 24/40
16/16 [==============================] - 0s 3ms/step - loss: 0.2787 - accuracy: 0.9151
Epoch 25/40
16/16 [==============================] - 0s 2ms/step - loss: 0.2620 - accuracy: 0.9269
Epoch 26/40
16/16 [==============================] - 0s 2ms/step - loss: 0.2465 - accuracy: 0.9282
Epoch 27/40
16/16 [==============================] - 0s 2ms/step - loss: 0.2288 - accuracy: 0.9399
Epoch 28/40
16/16 [==============================] - 0s 2ms/step - loss: 0.2128 - accuracy: 0.9478
Epoch 29/40
16/16 [==============================] - 0s 3ms/step - loss: 0.1962 - accuracy: 0.9543
Epoch 30/40
16/16 [==============================] - 0s 3ms/step - loss: 0.1797 - accuracy: 0.9608
Epoch 31/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1654 - accuracy: 0.9674
Epoch 32/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1516 - accuracy: 0.9700
Epoch 33/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1392 - accuracy: 0.9739
Epoch 34/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1275 - accuracy: 0.9778
Epoch 35/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1169 - accuracy: 0.9817
Epoch 36/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1085 - accuracy: 0.9830
Epoch 37/40
16/16 [==============================] - 0s 2ms/step - loss: 0.0999 - accuracy: 0.9830
Epoch 38/40
16/16 [==============================] - 0s 2ms/step - loss: 0.0925 - accuracy: 0.9856
Epoch 39/40
16/16 [==============================] - 0s 2ms/step - loss: 0.0859 - accuracy: 0.9856
Epoch 40/40
16/16 [==============================] - 0s 2ms/step - loss: 0.0799 - accuracy: 0.9856

In [103]:
model.evaluate(
  X_test,
  y_test
)

6/6 [==============================] - 0s 2ms/step - loss: 0.1051 - accuracy: 0.9844

[0.10512130707502365, 0.984375]

In [104]:
# Save the model to disk.
model.save_weights('tic-tac-toe.model')

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [107]:
# your code here
model.load_weights('tic-tac-toe.model')

# Predict
predictions = model.predict(X_test[:10])

# Print predictions
print(np.argmax(predictions, axis=1))

# Check our predictions
print(y_test[:10])

[0 1 1 1 1 0 1 1 0 1]
[False  True  True  True  True False  True  True False  True]

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [101]:
# your code here

**Which approach(es) did you find helpful to improve your model performance?**

In [102]:
# your answer here